/* all the body */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #ffffff;
}
/* content ( gan nhu la all the body) */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 60px 20px;
    gap: 300px;
    max-width: 1200px;
    margin: auto;
}
/* text gioi thieu ( bao gom ca big title ) */
.text-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
}
/* big title : wellcome back */

h1 {
    margin: 0 0 20px 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.login-form input{
    background: #defbff;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #c9c7c7;
    border-radius: 15px;
}

.login-form button {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.login-form button.sign-in {
    background: #050046;
    color: #fff;
    font-size: 16px; 
    cursor: pointer;
}

.social-button {
    display: flex;
    justify-content: center; /* Center the content of the button */
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 14px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    width: 93%; 
}

.google-sign-in {
    background-color: #defbff;
    color: rgb(0, 0, 0);
}

.facebook-sign-in {
    background-color: #defbff;
    color: rgb(0, 0, 0);
}

.logo {
    margin-right: 8px;
    height: 20px;
}

.forgot-password{
    text-align: right;
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
}
.signup,
.divider {
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    
}

.image-section {
    flex-shrink: 0;
}

.responsive-image {
    max-height: 600px;
    width: auto;
    object-fit: cover;
    border-radius: 20px;
    transform: scale(1.4);
    margin-right: 0%; 
}

footer {
    padding: 12px 0;
    text-align: center;
    font-size: 12px; 
    color: #aaa; 
}


@media (max-width: 768px) {
    .content {
        flex-direction: column;
        padding: 40px 20px;
        gap: 30px;
    }
    .text-section,
    .image-section {
        width: 90%;
    }
    .responsive-image {
        max-height: 300px;
    }
}
